.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.35);
  color: #111;
}

.modal-content {
  width: 400px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: .5em;
}

.modal-header, .modal-footer {
  background-color: lightgray;
  padding: 15px;
  width: 100%;
}

.modal-header {
  border-radius: 0.5em 0.5em 0 0;
}


.modal-footer {
  border-radius: 0 0 0.5em 0.5em ;
}
.modal-body {
  padding: 50px;
}
span {
  font-size: 1.5em;
  font-weight: 700;
}

.modal-btn {
  padding: 0.7em 2em;
  letter-spacing: .3em;
  background-color: coral;
  border: none;
  border-radius: 0.3em;
  color: aliceblue;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.modal-btn:hover {
  background-color: aliceblue;
  color: coral ;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.35);
}